<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.secure.secure.installer.securelibary">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".baseClass.MainHomePage"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".productGuide.ProductGuide"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".productGuide.ProductGuideSubProduct"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".installNewProduct.InstallNewProduct"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".installNewProduct.NewProductInstallListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".installNewProduct.ProductDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />


        <activity
            android:name=".replaceProgrammer.ReplaceProgrammerProductList"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity android:name=".baseClass.WebViewActivity" />

        <activity
            android:name=".replaceProgrammer.ReplacementProductList"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".replaceProgrammer.ReplacementProductDetails"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".replaceProgrammer.ReplaceProgrammerManufacturerNameList"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".replaceProgrammer.ReplacementStartCommissioning"
            android:configChanges="orientation|screenSize|keyboardHidden" />


    </application>

</manifest>